# This is Git's per-user configuration file.
[user]
	email = myemail 
	name = Maarten van Beek
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	a = add
	l = log
